{% extends 'base.html' %} {% block foo %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    {{ form.title.label }}{{ form.title }} <br />
    {{ form.street.label }}{{ form.street }} <br />
    {{ form.city.label }}{{ form.city }} <br />
    {{ form.state.label }}{{ form.state }} <br />
    {{ form.zipcode.label }}{{ form.zipcode (type='number')}} <br />
    {{ form.purchasePrice.label }}{{ form.purchasePrice(type='number') }} <br />
    {{ form.improvementCosts.label }}{{ form.improvementCosts (type='number')}}
    <br />
    {{ form.closingCosts.label }}{{ form.closingCosts (type='number')}} <br />
    {{ form.miscCosts.label }}{{ form.miscCosts (type='number')}} <br />
    {{ form.afterRepairValue.label }}{{ form.afterRepairValue (type='number')}}
    <br />
    {{ form.cashPurchase.label }}{{ form.cashPurchase }} <br />
    {{ form.downPayment.label }}{{ form.downPayment }} <br />
    {{ form.interestRate.label
    }}{{ form.interestRate (type='number', step=".01", value='5')}} <br />
    {{ form.amortizationPeriod.label }}
    {{ form.amortizationPeriod (type='number', value='30')}} <br />
    {{ form.feesAndPoints.label }}
    {{ form.feesAndPoints (type='number', value='0')}} <br />
    {{ form.payFees.label }}{{ form.payFees }} <br />
    {{ form.interestOnly.label }}{{ form.interestOnly }}
    <br />
    {{ form.rent.label }}{{ form.rent (type='number')}} <br />
    {{ form.otherIncome.label
    }}{{ form.otherIncome (type='number', value='0')}} <br />
    {{ form.electricity.label
    }}{{ form.electricity (type='number', value='0')}} <br />
    {{ form.waterAndSewer.label
    }}{{ form.waterAndSewer (type='number', value='0')}} <br />
    {{ form.pmi.label }}{{ form.pmi (type='number', value='0')}} <br />
    {{ form.garbage.label }}{{ form.garbage (type='number', value='0')}} <br />
    {{ form.hoa.label }}{{ form.hoa (type='number', value='0')}} <br />
    {{ form.insurance.label }}{{ form.insurance (type='number', value='0')}}
    <br />
    {{ form.propertyTax.label
    }}{{ form.propertyTax (type='number', value='0')}} <br />
    {{ form.otherExpenses.label
    }}{{ form.otherExpenses (type='number', value='0')}} <br />
    {{ form.vacancy.label
    }}{{ form.vacancy (type='number', step=".01", value='0')}} <br />
    {{ form.repairsAndMaint.label
    }}{{ form.repairsAndMaint (type='number', step=".01", value='0')}}
    <br />
    {{ form.capex.label
    }}{{ form.capex (type='number', step=".01", value='0')}} <br />
    {{ form.managementFees.label
    }}{{ form.managementFees (type='number', step=".01", value='0')}}
    <br />
    {{ form.incomeGrowth.label
    }}{{ form.incomeGrowth (type='number', step=".01", value='2')}} <br />
    {{ form.appreciation.label
    }}{{ form.appreciation (type='number', step=".01", value='2')}} <br />
    {{ form.expenseGrowth.label
    }}{{ form.expenseGrowth (type='number', step=".01", value='2')}} <br />
    {{ form.salesExpenses.label
    }}{{ form.salesExpenses (type='number', step=".01", value='9')}} <br />
    {{ form.submit }}
</form>

{% endblock %}
