{% extends 'base.html' %} {% block foo %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }}{{ form.title }} <br />
    {{ form.street.label }}{{ form.street }} <br />
    {{ form.city.label }}{{ form.city }} <br />
    {{ form.state.label }}{{ form.state }} <br />
    {{ form.zip.label }}{{ form.zip (type='number')}} <br />
    {{ form.purchasePrice.label }}{{ form.purchasePrice(type='number') }} <br />
    {{ form.improvementCosts.label }}{{ form.improvementCosts (type='number')}}
    <br />
    {{ form.closingCosts.label }}{{ form.closingCosts (type='number')}} <br />
    {{ form.miscCosts.label }}{{ form.miscCosts (type='number')}} <br />
    {{ form.afterRepairValue.label }}{{ form.afterRepairValue (type='number')}}
    <br />
    {{ form.cashPurchase.label }}{{ form.cashPurchase }} <br />
    {{ form.downPayment.label }}{{ form.downPayment }} <br />
    {{ form.interestRate.label }}{{ form.interestRate (type='number')}} <br />
    {{ form.feesAndPoints.label }}{{ form.feesAndPoints (type='number')}} <br />
    {{ form.payFees.label }}{{ form.payFees }} <br />
    {{ form.interestOnly.label }}{{ form.interestOnly }} <br />
    {{ form.rent.label }}{{ form.rent (type='number')}} <br />
    {{ form.otherIncome.label }}{{ form.otherIncome (type='number')}} <br />
    {{ form.electricity.label }}{{ form.electricity (type='number')}} <br />
    {{ form.waterAndSewer.label }}{{ form.waterAndSewer (type='number')}} <br />
    {{ form.pmi.label }}{{ form.pmi (type='number')}} <br />
    {{ form.garbage.label }}{{ form.garbage (type='number')}} <br />
    {{ form.hoa.label }}{{ form.hoa (type='number')}} <br />
    {{ form.insurance.label }}{{ form.insurance (type='number')}} <br />
    {{ form.propertyTax.label }}{{ form.propertyTax (type='number')}} <br />
    {{ form.otherExpenses.label }}{{ form.otherExpenses (type='number')}} <br />
    {{ form.vacancy.label }}{{ form.vacancy (type='number')}} <br />
    {{ form.repairsAndMaint.label }}{{ form.repairsAndMaint (type='number')}}
    <br />
    {{ form.capex.label }}{{ form.capex (type='number')}} <br />
    {{ form.managementFees.label }}{{ form.managementFees (type='number')}}
    <br />
    {{ form.incomeGrowth.label }}{{ form.incomeGrowth (type='number')}} <br />
    {{ form.appreciation.label }}{{ form.appreciation (type='number')}} <br />
    {{ form.expenseGrowth.label }}{{ form.expenseGrowth (type='number')}} <br />
    {{ form.salesExpenses.label }}{{ form.salesExpenses (type='number')}} <br />
    {{ form.submit }}
</form>

{% endblock %}
